<div class="higher">
    <div class="container-fluid">
        <form class="mx-auto">
            <h2 class="text-center">Registration</h2>
            <h4 class="text-center mt-2">User Details</h4>
            <div class="mb-3 mt-5">
              <label for="Username" class="form-label">Username</label>
              <input type="text" class="form-control" id="Username">
            </div>
            <div class="mb-3">
              <label for="guardianEmail" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" >
          </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Password</label>
              <input type="password" class="form-control" id="userPassword">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Contact Number</label>
              <input type="number" class="form-control" id="phoneNuber">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Location</label>
              <input type="password" class="form-control" id="userLocation">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label ">Pincode</label>
                <input type="number" class="form-control" id="pincode">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Registar</button>
          </form>  
    </div>
</div>