<p>footer works!</p>
<footer id="footer">
    <div class="container">
      <h3>Samaya Infotech</h3>
      <p>Manage and improve your online reputation with our powerful review management platform. Gain insights, respond to customer feedback, and build trust in your brand.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Samaya Infotech</span></strong>. All Rights Reserved
      </div>
  
    </div>
</footer>